<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>
<body>
  {% include "navbar.html" %}
  {% include "errors.html" %}
  <div class="ui two column centered grid" id="mainContainer">
    <div class="ui center aligned segment" id="mainSegment">
      <form class="ui form" action="/addStamp" method="POST" id="mediumWidth" enctype=multipart/form-data>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="field">
          <label>Name of your stamp</label>
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="field">
          <label>Printed on year:</label>
          <input type="number" name="date" placeholder="year" min="0" max="2050">
        </div>
        <div class="field">
            <label>Photo of your stamp (optional)</label>
            <input type=file name=file>
        </div>
        <div class="field">
          <div class="ui toggle checkbox">
            <input type="checkbox" tabindex="0" name=isPublic>
            <label>I want to exchange that stamp</label>
          </div>
        </div>
        <button class="ui blue submit button" type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
