<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>

<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}

  <div class="ui center aligned segment" id="mainSegment">
  <div class="ui large header">Bonjour, {{current_user.name}}. Vous allez commencer l'entrainement.
  </div>
  <form class="ui form" action="/testingTrain" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="objectsStr" value={{objectsStr}}/>
      <button class="ui submit red button" type="submit">Commencer !</button>
      </form>
    </div>
  
  </div>  {% include "footer.html" %}
</body>
</html>