<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>

<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}

  <div class="ui center aligned segment" id="mainSegment">
  <div class="ui large header">Bonjour, {{current_user.name}}. Vous aller commencer le test.
  </div>
  <form class="ui form" action="/testing" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="strFiles" value={{strFiles}}/>
      <button class="ui submit red button" type="submit">commencer !</button>
      </form>
    </div>
  
  <!-- fichiers : {{filenames}} , liste images restantes: {{listIndexImg}}, longueur restante : {{lenTest}}
  <div class="ui two column centered grid" id="mainContainer">
    <div class="ui center aligned segment" id="mainSegment">
      <div class="ui divided items">

        {% for file in filenames %}
        <div class="link item">
          <div class="ui tiny image">
            <img src="{{ url_for('static', filename=file) }}">
          </div>
          <div class="content">
            <a class="header">{{ file }}</a>
          </div>
        </div>
        {% endfor %}
     
    -->
  </div>  {% include "footer.html" %}
</body>
</html>