<div id="navbarContainer">
  <div id="navbar">
    <div class="ui fixed inverted main menu">
      <a class="item" href="/">
        <img src="{{ url_for('static',filename='images/logo.png') }}" id="logo">
      </a>
      {% if current_user.is_anonymous %}
      <a class="item" href="/login">
        Se connecter
      </a>
      <a class="item" href="/signup">
        S'inscrire
      </a>
      {% else %}
      <a class="item" href="/profile">
        Profil
      </a>
      <a class="item" href="/Training">
        Entraînement
      </a>
      {% if not current_user.isAdmin %}
        {% if not current_user.testFolder=="premierTest/" %}
        <a class="item" href="/MakeTest">
          Faire le test
        </a>
        {% else %}
        <a class="item" href="/ViewTests">
          Sélectionner mon test
        </a>
        {% endif %}
      {% else %}
      <a class="item" href="/ViewTests">
        Sélectionner mon test
      </a>
      <a class="item" href="/MakeTest">
        Faire le test
      </a>
      <a class="item" href="/CreateTest">
        Créer un test
      </a>
      <a class="item" href="//CreateTrainingObject">
        Créer un objet d'entrainement
      </a>
      <a class="item" href="/ViewResults">
        Voir les résultats
      </a>
      <a class="item" href="/Training">
        Entraînement
      </a>
      {% endif %}

              <!--

      <a class="item" href="/myCollec">
        Mes 100 mots
      </a>
      <a class="item" href="/searchStamp">
        Search
      </a>
      <a class="item" href="/exchange">
        Exchange
      </a>
      <a class="item" href="/messaging">
        Messaging
        {% set mn = get_message_number() %}
        {% if mn>0 %}
        <div class="ui mini red circular label">{{ mn }}</div>
        {% endif %}
      </a>
    -->
      <a class="item" href="/logout">
        Déconnexion
      </a>
      {% endif %}
    </div>
  </div>
