<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>

<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}
  <div class="ui two column centered grid" id="mainContainer">
    <div class="ui center aligned segment" id="tandContainer">
      <h1 class="ui huge header">Terms and conditions</h1>
      <div id="leftAligned">
      <p>By using our website, the user, thereafter referred to as "you" agree to the following terms and conditions :</p>
      <p>
        1. You instantly forfeit any right to complain to the developers.
        This encompasses, but is not limited to :<br/>
        - GDPR complaints (you really thought we wanted to handle that type of sh*t ? Think again.)<br/>
        - Data leaks (woops I might have leaked your email to that shady guy who gave money)<br/>
        - Bugs that you might come accross (that spider is soooo cute)<br/>
      </p>
      <p>
        2. You instantly forfeit any right.
      </p>
      <p>
        3. You give to us complete and unlimited access to the computing power of your device.
        You see, we kinda like cryptocurrencies. Especially when mined on other's computers.
      </p>
      <p>
        4. You give us permission to use your house whenever we feel like throwing a party.
        This includes everything contained in your house, down to the contents of the fridge.
      </p>
      <p>
        5. You also agree that you will not use our website for any use prohibited by French law, including, without limitation, the development, design, manufacture, or production of nuclear, missile, or chemical or biological weapons.
      </p>
      <p>
        6. You agree to provide the three developers mentioned in this site's beautiful footer, with a yearly supplied birthdaycake of their choice. The choice of the developers shall be communicated over the modern and reliable <a href=https://en.wikipedia.org/wiki/IP_over_Avian_Carriers>IPoAC</a> protocol.
      </p>
      <p>
        7. You are a teapot.<a href="https://fr.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">*</a>
      </p>
      <p>
        8. If you did not get the previous joke, you have to brew coffee for all three of us, and bring it to us immediatly and independently of the time of the day or your current location. The communication shall be handled through... the HTCPCP protocol, of course.
      </p>
      <p>
        9. You agree to vow that from now on, you will read the entire credits of every single film you see, every single video game you play, every single CD jacket of every single music you play, every single software you use, and to do so LOUDLY.
      </p>
      <p>
        10. You agree that from now on, you'll always read terms and conditions, until the end. There might be surprises.
      </p>
      <p>Any failure to comply to the aforementioned rules expose you, yourself, your family, your pet goldfish, your neighbors, and all your sixteenth degree cousins to legal proceedings.</p>
      </div>
    </div>
  </div>

  {% include "footer.html" %}

</body>
</html>
