<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>




<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}
  <div class="ui center aligned segment" id="mainSegment"></div>
    <div class="ui two column centered grid" id="mainContainer">
        <div class="ui center aligned segment" id="mainSegment">
        <div class="ui internally celled grid">
            <div class="row">
            <div class="eight wide column">
                <div class="ui large header"> Que représente cette image ?</div>

                    <img src="{{ image_name }}"height=600>


            </div>
            <div class="eight wide column">
                <div class="ui large header"> Indices:</div>
                <p> {{text1}}</p>
                <audio id="ind1" >
                    <source src="{{sonInd1}}" type="audio/mp3">
                  Your browser does not support the audio element.
                  </audio> 
                  <button onclick="play_Audio1()" type="button">Ecouter l'indice 1</button>
                  <br>
                  <p> {{text2}}</p>
                <audio id="ind2" >
                    <source src="{{sonInd2}}" type="audio/mp3">
                  Your browser does not support the audio element.
                  </audio> 

                  <button onclick="play_Audio2()" type="button">Ecouter l'indice 2</button>
                      <br>
                  <p> Réponse :</p>
                  <audio id="final" >
                      <source src="{{sonFinal}}" type="audio/mp3">
                    Your browser does not support the audio element.
                    </audio> 
                    <button onclick="play_Audio3()" type="button">Ecouter la réponse</button>
                    <script>
                        var ind1 = document.getElementById("ind1");
                        function play_Audio1() {
                            ind1.play();
                        }
                        var ind2 = document.getElementById("ind2");
                
                        function play_Audio2() {
                            ind2.play();
                        }
                        var final = document.getElementById("final");
                 
                        function play_Audio3() {
                            final.play();
                        }
                 
                        
                    </script>
                    <br>
                    <br>
                    <form class="ui form" action='/testingTrain' method='POST'>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="objectsStr" value={{ objectsStr }}/>
                        
                          <button class="ui submit green button" name='action' value="correct" type="submit">Suivant</button>
                          
                      </form>
            </div>
            </div>
        </div>
    </div>


      
    </div>
    </div>
  </div>  {% include "footer.html" %}
</body>


</html>