<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>

<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}

  <div class="ui center aligned segment" id="mainSegment">
  <div class="ui large header">Bonjour, {{current_user.name}}</div>
  <div class="ui large header"><br>
    <p> Veuillez choisir votre test </p><br>
    <form action="/SetTest" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <select name="folder">
      <option value="">--Choisir le test--</option>
    {% for folder in folderList %}

    <option value={{folder}}>{{folder}}</option>
    {% endfor %}
  </select><br>
  <select name="training">
    <option value="">--Choisir l'entrainement--</option>
  {% for training in trainingList %}

  <option value={{folder}}>{{training}}</option>
  {% endfor %}
</select><br>
  <input type="password" name="password" placeholder="Password">
  <button class="ui submit red button" type="submit">Choisir ce test</button>
</form>
    </div>
    </div>
  {% include "footer.html" %}
</body>
</html>