<!DOCTYPE html>
<html>
<head>
  {% include "header.html" %}
</head>

<body>

  {% include "navbar.html" %}
  {% include "errors.html" %}
  <div class="ui center aligned segment" id="mainSegment">

  <div class="ui large header">Bonjour, {{current_user.name}}</div>

  <p>Filtrage par nom:</p>
  <form action="/ViewResults" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="text" name="username">
    <button class="ui submit green button" type="submit">Filtrer avec ce nom</button>
    </form>
  <div class="ui large header"><br>
    {% for string in stringList %}

    {% if string=="end" %}
    <br><br>
    {% else %}
    {{string}}<br>
    {% endif %}
    {% endfor %}
    
    </div>
    </div>
  {% include "footer.html" %}
</body>
</html>